<%- include('../header'); -%>

<div class="main-header">
    <h5>Search Result</h5>
</div>
    <%books.forEach(val=>{%>
        <div class="outer-box">
        <div class="book-box">
        <img id="book-img" src="<%=val.smallThumbnail%>">
       
    </div>
    <h2 id="booke-title"><%=val.title%></h2>
    <h5 id="book-author"><%=val.authors%></h5>
    <p id="book-description"><%=val.description%></p>
</div>
    <%})%>
    <%- include('../footer'); -%>

</body>

</html>
